body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(45, 46, 48);
}

#logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px
}

h1 {
    text-align: center;
    color: white;
}

#galaxy-input-container {
    margin-top: 20px;
}

.galaxy-form {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

input, select {
    margin: 5px;
    padding: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#galaxy-input-container{
    text-align: center;
    margin: 0 auto;
    width: 70vw
}

.galaxy-form{
    background-color: lightblue
}

[class^="position-"],
[class^="velocity-"] {
    width: 80px; 
    margin-right: 5px; 
    box-sizing: border-box;
}